.container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;
}

.container_img {
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.container_content {
    padding: 60px 120px 60px 120px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.input_login {
    text-align: center;
    border-color: black;
}

.input_login::placeholder {
    color: #b8b8b8;
    opacity: 1; 
}

.title{
    text-align: center;
}

body {
    background-color: rgb(223, 223, 223);
}
